.RData
.Rhistory
Entrega1.Rproj
Entregable Actividad.Rmd
Estudio de Caso concesionario automotriz Alejandro Giraldo Johnn Perez.zip
Estudio de caso.Rmd
Estudio-de-Caso.knit.md
Estudio-de-Caso.log
Estudio-de-Caso.tex
T1_Guia_actividades.pdf
Estudio-de-Caso_files
.gitignore